.popover {
	
}

.popover--error {
	-fx-background-color: #f7716e;
}

.popover--success {
	
}

.popover--warning {
	
}

.popover__title {
	-fx-font-size: 13px;
}

.popover__title--error, .popover__content--error {
	-fx-text-fill: #910b08;
}

.popover__content {
	-fx-font-size: 13px;
	
	-fx-text-alignment: left ;
	-fx-font-weight: normal;
}