.root {
	-fx-font-size: 16px;
	
	-fx-background-color: #d4d5d7;
}

.window {
	-fx-background-color: #d4d5d7;
	-fx-padding: 15px;
}

.validator {
	-fx-font-size: 11px;
	-fx-text-fill: #fc3f19;
}

.validator--main {
	-fx-font-weight: bold;
	-fx-padding: 16px; 
}

.validator--success {
	-fx-text-fill: #008620;
}

.scroll-pane > .viewport {
	-fx-background-color: #d4d5d7;
}

.scroll-pane:focused {
	-fx-background-color: #d4d5d7;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll {
	-fx-background-color: #d4d5d7;	
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.descriptions {
	-fx-font-size: 11px;
	-fx-text-fill: #fc3f19;
}

.buttons {
	-fx-font-size: 11px;
	
	-fx-background-color: #d4d5d7;
	
	-fx-border-color: #2f3034;
  	-fx-border-width: 2px;
  	-fx-border-style: solid;
  	
  	-fx-font-weight: bold;
	
  	-fx-cursor: hand;
}

.buttons--exit {
	-fx-border-width: 0px;
}

.buttons--exit:hover {
	-fx-background-color: #c2c5c8;
}
