.root {
	-fx-font-size: 16px;
	
	-fx-background-color: #d4d5d7;
}

.validator {
	-fx-font-size: 11px;
	-fx-text-fill: #fc3f19;
}

.validator--main {
	-fx-font-weight: bold;
	-fx-padding: 16px; 
}

.window {
	-fx-background-color: #d4d5d7;
}

.scroll-pane > .viewport {
	-fx-background-color: #d4d5d7;
}

.scroll-pane:focused {
	-fx-background-color: #d4d5d7;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll {
	-fx-background-color: #d4d5d7;	
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.form, .form__fields, .form__control {
	-fx-padding: 16px;
}

.form__fields {
	
}

.form__grid {
	-fx-alignment: center;
}

.form__grid__label {
	-fx-font-size: 11px;
	
	-fx-text-fill: #2f3034;
	
 	-fx-font-weight: bold;
}


.combo-box .list-cell{
	-fx-background-color: #2f3034; 
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.combo-box .list-cell:hover {
	-fx-background-color: #d4d5d7;
	-fx-text-fill: #2f3034;
}

.combo-box .cell:selected {
	-fx-background-color: #d4d5d7;
	-fx-text-fill: #2f3034;
}

.form__grid__select {
	-fx-font-size: 13px;
	
 	-fx-background-color: #d4d5d7;
  	-fx-cursor: hand;
  	-fx-prompt-text-fill: red;
  
 	 -fx-text-fill: #2f3034;
  
  	-fx-border-color: #85888f;
  	-fx-border-width: 0px 0px 1px 0px;
  	-fx-border-style: solid;
}

.form__grid__text {
	-fx-font-size: 13px;
	
	-fx-font-size: 13px;
  	
  	-fx-background-color: #d4d5d7;
  	
  	-fx-border-color: #85888f;
  	-fx-border-width: 0px 0px 1px 0px;
  	-fx-border-style: solid;
  	
  	-fx-text-fill: #2f3034;
}

.form__grid__button {
	-fx-font-size: 13px;
  
  	-fx-background-color: #d4d5d7;
	
  	-fx-cursor: hand;
}

.form__grid__button:hover {
	-fx-background-color: #c2c5c8;
}

.form__grid__button--edit:hover {
	-fx-background-color: #DFBC64;
}

.form__grid__button--delete:hover {
	-fx-background-color: #e4715f;
}

.form__control {
	
}

/******************************************************************************
 * 
 * NOTIFICACIONES
 * 
 *****************************************************************************/

.notification-bar>.pane {
    -fx-background-color: #414253;
    -fx-padding: 10 10 10 10;
}

.notification-bar>.pane .title {
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 10;
}

/******************************************************************************
 *ÁRE NOTIFICACION
 *****************************************************************************/

.notification-bar>.pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-bar>.pane .close-button:pressed {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}

.notification-bar>.pane .close-button>.graphic {
     -fx-background-color: #fff;
     -fx-scale-shape: false;
     -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button:pressed>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button>.graphic {
     -fx-shape:
    "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}