.root {
  -fx-font-size: 16px;
  -fx-background-color: #d4d5d7;
}

.board {
	-fx-background-color: #d4d5d7;
  	
  	-fx-padding: 1em;
}

.board__resume {
  -fx-background-color: #d4d5d7;
}

.scroll-pane {
	-fx-background-color: #d4d5d7;	
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll-pane > .viewport {
	-fx-background-color: #d4d5d7;
}

.scroll-pane:focused {
	-fx-background-color: #d4d5d7;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.board__resume--scroll {
  	-fx-border-color: #85888f;
  	-fx-border-width: 0px;
  	-fx-border-style: dashed;
}

.board__resume__card {
	-fx-padding: 5px;
	
  	-fx-border-color: #85888f;
  	-fx-border-width: 0px 0px 0px 0px;
  	-fx-border-style: dashed;
} 

.board__resume__card__first {
	-fx-background-color: #2f3034;
}

.board__resume__card__first__label {
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-text-alignment: left;
}

.board__resume__card__label {
  	
}

.board__resume__card__label--title {
	-fx-text-fill: #2f3034;
  	-fx-font-size: 11px;
  	-fx-text-alignment: left;
}

.board__resume__card__label--text {
  -fx-font-size: 13px;
}

.board__resume__card__button {
  -fx-cursor: hand;
}

.board__resume__card__button--clipboard {
	-fx-background-color: #d4d5d7;
	
	-fx-border-color: #d4d5d7;
  	-fx-border-width: 0px 0px 1px 0px;
  	-fx-border-style: solid;
}

.board__resume__card__button--clipboard:hover {
	-fx-background-color: #c2c5c8;
	
	-fx-border-color: #2f3034;
  	-fx-border-width: 0px 0px 1px 0px;
  	-fx-border-style: solid;
}

.titled-pane > .title {
	-fx-background-color: #d4d5d7;
}

.board__resume__more-data {
	-fx-background-color: #d4d5d7;
	-fx-font-style: normal;
	-fx-font-weight: normal;
}

.board__resume__more-data__panel {
	-fx-text-fill: #2f3034;
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

.board__controls {

}

.board__controls__label {
  -fx-font-size: 11px;
}

.board__controls__text-field {
  	-fx-padding: 10px;
  	
  	-fx-font-size: 13px;
  
  	-fx-background-color: #d4d5d7;
  
 	-fx-border-color: #2f3034;
  	-fx-border-width: 1px;
  	-fx-border-style: solid;
  	-fx-border-radius: 5px;
  	
  	-fx-prompt-text-fill: #70797c;
}

.board__controls__button {
  	-fx-font-size: 11px;
	-fx-font-weight: bold;
	-fx-underline: true;

	-fx-background-color: #d4d5d7;	

  	-fx-cursor: hand;
}

.board__controls__button--icon {
	-fx-background-color: #d4d5d7;
	
	-fx-cursor: hand;
}

.board__controls__button--icon:hover {
	-fx-background-color: #c2c5c8;
}

.board__info__text {
  -fx-font-size: 9px;
  -fx-text-alignment: right;
}

.board__info__text--email {
  -fx-font-weight: bold;
}

/******************************************************************************
 * 
 * NOTIFICACIONES
 * 
 *****************************************************************************/

.notification-bar>.pane {
    -fx-background-color: #414253;
    -fx-padding: 10 10 10 10;
}

.notification-bar>.pane .title {
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 10;
}

/******************************************************************************
 *ÁRE NOTIFICACION
 *****************************************************************************/

.notification-bar>.pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-bar>.pane .close-button:pressed {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}

.notification-bar>.pane .close-button>.graphic {
     -fx-background-color: #fff;
     -fx-scale-shape: false;
     -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button:pressed>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button>.graphic {
     -fx-shape:
    "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}