.root {
  -fx-font-size: 16px;
}

.information {
  -fx-padding: 1em;

  -fx-background-color: tomato;
}

.information__group {

}

.information__group__label {
  -fx-padding: 13px;

  -fx-font-size: 13px;
}

.information__group__label--title {
  -fx-font-size: 11px;

  -fx-padding: 14px;

  -fx-font-weight: bold;

  -fx-background-color: rgb(138, 202, 141);
}

.information__group__label--text {
  -fx-background-color: rgb(201, 85, 224);
}