.root {
	-fx-font-size: 16px;
	
	-fx-background-color: #d4d5d7;
}

.column-header {
	-fx-font-size: 13px;
	-fx-text-alignment: center;
}

.table-view {
	-fx-background-color: #d4d5d7;
}

.table-view .column-header-background {
	-fx-background-color: #2f3034;
}

.table-view .column-header-background .label {
	-fx-text-fill: white;
	-fx-background-color: #2f3034;
}

.table-view .column-header {
	-fx-background-color: #2f3034;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #d4d5d7;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cursor: hand;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #eef0f0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table {
	
}

.table__main {
	
}

.table__main__column {
	
}

.table__main__column__cell {
	-fx-font-size: 13px;
	
	-fx-padding: 5px;
	-fx-text-alignment: center;
	-fx-text-fill: #2f3034;
}

.table__row__expander {
	-fx-padding: 15px;
	
	-fx-background-color: #2f3034;
}

.table__row__expander__text {
	-fx-padding: 5px;
	
	-fx-font-size: 13px;
	
	-fx-text-fill: white;
}

.search {
	-fx-padding: 10px;
}

.search__text {
	-fx-padding: 10px;
  	
  	-fx-font-size: 13px;
  
  	-fx-background-color: #d4d5d7;
  
 	-fx-border-color: #2f3034;
  	-fx-border-width: 1px;
  	-fx-border-style: solid;
  	-fx-border-radius: 5px;
  	
  	-fx-prompt-text-fill: #70797c;
}

.controls {
	
}

.controls__button {
	-fx-background-color: #d4d5d7;
	
	-fx-cursor: hand;
}

.controls__button:hover {
	-fx-background-color: #c2c5c8;
}

.controls__button--edit:hover {
	-fx-background-color: #DFBC64;
}

.controls__button--delete:hover {
	-fx-background-color: #e4715f;
}

/******************************************************************************
 * 
 * NOTIFICACIONES
 * 
 *****************************************************************************/

.notification-bar>.pane {
    -fx-background-color: #414253;
    -fx-padding: 10 10 10 10;
}

.notification-bar>.pane .title {
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 10;
}

/******************************************************************************
 *ÁRE NOTIFICACION
 *****************************************************************************/

.notification-bar>.pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-bar>.pane .close-button:pressed {
     -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}

.notification-bar>.pane .close-button>.graphic {
     -fx-background-color: #fff;
     -fx-scale-shape: false;
     -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button:pressed>.graphic {
     -fx-background-color: #fff;
}

.notification-bar>.pane .close-button>.graphic {
     -fx-shape:
    "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}
